<div class="game-tabs">
    <mat-tab-group mat-align-tabs = "start" backgroundColor = "primary">
        <mat-tab label = "about">
            <p class="game-tabs-par">
                Platforms: 
                <span>PC</span>
            </p>
            <p class="game-tabs-par">
                Publisher:
                <span>Konami</span>
            </p>
            <p class="game-tabs-par">
                Website: 
                <a class="game-tabs-link" href="" target="_blank">http://</a>
            </p>
            <div class="game-description">Some description</div>
            <p class="game-tabs-votes">
                <span>
                    <mat-icon class="game-votes-up">thumb_up</mat-icon>
                    <span class="games-votes-count">55</span>
                </span>
                <span>
                    <mat-icon class="game-votes-down">thumb_down</mat-icon>
                    <span class="game-votes-count">14</span>
                </span>
            </p>
        </mat-tab>
    </mat-tab-group>
</div>